<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />


    <application>

        <service
            android:name=".ScreenAudioRecorderService"
            android:foregroundServiceType="mediaProjection"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="true" />
<service
    android:name="com.legacyreactnativescreenaudiorecorder.LegacyScreenAudioRecorderService"
    android:exported="true"
    android:foregroundServiceType="mediaProjection" />


    </application>



</manifest>
